<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shland gradebook - P3 Obj 3</title>
    <link rel="stylesheet" type="text/css" href="grades.css"/>
</head>
<body>
<div class="header">
    <!--note to self: replace with {{user}}'s gradebook if time allows-->
    <h1>Gradebook:</h1>
</div>
<div class="contents">
    <div class="grade-container">
        <h2>Questions you've created:</h2>
        {%  for user_question in all_questions.keys() %}
        <table class="grades-table">
                <caption>Question Title: {{ user_question[0]}}</caption>
                <caption>Question Description: {{ user_question[1]}}</caption>
            <tr>
                <th>User</th>
                <th>Score</th>
            </tr>
            {% for all_answer in all_questions[user_question] %}
            <tr>
                {% for answer in all_answers %}
                   <td>{{ answer }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
            <hr>
        {% endfor %}

    </div>
    <div class="grade-container">
        <h2>Your own grades:</h2>
        <table class="grades-table">
            <tr>
                <th>Question Title</th>
                <th>Description</th>
                <th>Your Score</th>
            </tr>
            <tr>
                {% for answer in user_answer  %}
                    <tr>
                    {% for cell in answer %}
                        <td>
                        {{ cell }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </div>

</div>


</body>
</html>